@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap');

::-webkit-scrollbar {
    width: 10px;
    background: #f1dede;
}

::-webkit-scrollbar-thumb {
    background: rgb(66, 53, 53);
    border-radius: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/* Css For Navbar Section */


.main-nav {
    /* display: flex; */
    border-bottom: 1px solid black;
    box-shadow: 0 0 10px rgba(62, 37, 138, 0.5);
    background: white;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.mid-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.mid-nav a {
    list-style: none;
    margin: 10px;
}

ul img {
    max-width: 4em;
    margin-right: auto;
}

ul a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 600;
}

ul .btn {
    background: rgb(222, 222, 11);
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
}

i {
    padding: 5px;
}

.fa-bars-staggered::before {
    display: none;
}


/* Css For Header Section */


header .main-head {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    text-align: center;
}

.main-head .illu {
    max-width: 360px;
    /* border-radius: 50%; */
}

.main-head h3 {
    font-size: 25px;
}

.main-head h1 {
    font-size: 40px;
    margin: 30px;
}

.main-head p {
    font-size: 17px;
    width: 70%;
    line-height: 1.5;
}

.main-head a {
    background: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    margin: 20px;
    font-weight: bold;
}


/* Css For Things - Section */


.section {
    margin: 50px 20px;
}

.section h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 2;
    text-align: center;
}

.section .title {
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.main-part {
    display: flex;
    flex-flow: row;
    margin-top: 40px;
}

.main-part img {
    max-width: 450px;
    margin: 20px;
}

.information {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.icons i {
    font-size: 30px;
    margin: 10px 20px 10px 0;
    padding: 10px;
    border-radius: 50px;
}

.information h2 {
    font-size: 30px;
    margin: 20px 0;
}

.text-para p {
    font-size: 18px;
    margin: 25px 0;
    letter-spacing: .7px;
    display: flex;
    flex-direction: row;
}

.text-para i {
    padding-right: 20px;
}


/* Css For Educational Cards */


.learning {
    background: #000;
    color: white;
    margin: 100px 30px;
    padding: 20px;
    border-radius: 50px;
}

.learning h1,
.title {
    text-align: center;
    /* padding: 10px; */
}

.learning h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 2;
}

.learning .title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;
}

.cover {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    text-align: center;
    background: #121111;
    border-radius: 50px;
    margin-top: 30px;
}

.card {
    max-width: 400px;
    margin: 20px;
    box-shadow: 0 0 20px rgb(222, 222, 11);
    background: #fff;
    border-radius: 20px;
}

.card img {
    max-width: 200px;
    border-radius: 50px;
}

.card h2 {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 15px;
    letter-spacing: 1px;
    color: #000;
}

.card .date {
    font-family: poppins;
    background: #000;
    display: inline;
    color: rgb(255, 255, 255);
    font-size: 13px;
    padding: 2px 8px;
    font-weight: bolder;
    border-radius: 50px;
}

.edu-text-para {
    margin-top: 20px;
    padding: 15px;
}

.edu-text-para p {
    margin-bottom: 15px;
    letter-spacing: 0.5px;
    line-height: 1.2;
    display: flex;
    flex-flow: row;
    text-align: left;
    color: rgb(0, 0, 0);
}

.edu-text-para p i {
    padding: 0 12px;
}


.card:hover {
    transform: translateY(-10px);
    transition: 0.5s all linear;
}


/* Css For Project Section */

.project-section h1,
.title {
    text-align: center;
}

.project-section h1 {
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 2;
}

.project-section .title {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1px;

}

.project-flex-cover {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.project-card {
    max-width: 350px;
    border: 1px solid rgba(62, 37, 138, 0.5);
    box-shadow: 0 0 10px rgba(62, 37, 138, 0.5);
    margin: 100px 20px;
    padding: 20px;
    border-radius: 20px;
    background: #fffa;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(62, 37, 138, 0.5);
    box-shadow: 0 0 10px rgba(62, 37, 138, 0.3);
}

.project-card h2 {
    font-size: 25px;
    margin: 10px 0;
}

.project-card p {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.project-card a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #000;
    letter-spacing: 0.7px;
    display: inline-block;
    margin-top: 10px;
}

.github-btn {
    background: #000;
    padding: 7px;
    border-radius: 50px;
    margin-right: 10px;
}

.demo-btn {
    background: rgb(222, 222, 11);
    padding: 7px 20px;
    border-radius: 50px;
}

footer {
    background: #000;
    color: white;
    padding: 20px;
}

.main-footer {

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.main-footer h1 {
    margin: 20px;
}

.main-footer p {
    margin: 20px;
    font-size: 18px;
}

.inside-footer-one .foot-icons a {
    background: rgb(0, 0, 0);
    padding-right: 10px;
    /* margin: 10px; */
    text-decoration: none;
    display: inline-block;
}

.inside-footer-one a i {
    text-align: center;
    font-size: 20px;
}

.inside-footer-one .foot-icons {
    margin-left: 15px;
}

.inside-footer-two {
    /* width: 50%; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.inside-footer-two img {
    width: 300px;
}

.upside {
    text-align: right;
    padding: 20px;
}

footer .upside a {
    background: rgb(222, 222, 11);
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
}


/* Media Queries For Phone */


@media screen and (max-width:700px) {
    ul a {
        display: none;
    }

    .main-head h1 {
        font-size: 30px;
        margin: 10px;
        line-height: 1.3;
    }

    .main-head .illu {
        width: 100%;
    }

    .main-head p {
        width: 100%;
        padding: 20px;
        text-align: left;
    }

    .main-head h3 {
        margin: 0px;
    }

    .fa-bars-staggered::before {
        display: inline-block;
        font-size: 25px;
        cursor: pointer;
    }

    .section {
        margin: 50px 10px;
    }

    .section h1 {
        font-size: 30px;
        line-height: 1.2;
        margin: 20px 0;
    }

    .section .title {
        font-size: 20px;
    }

    .main-part {
        margin-top: 35px;
    }

    .main-part img {
        width: 100%;
        margin: 0;
    }

    .icons {
        align-self: center;
    }

    .information {
        padding: 10px;
    }

    .information h2 {
        font-size: 25px;
        align-self: center;
    }

    .main-part {
        flex-flow: column wrap;
    }

    .learning {
        margin: 50px 0px;
        border-radius: 0;
    }

    .learning h1 {
        font-size: 30px;
        line-height: 1;
        margin: 20px 0;
    }

    .learning .title {
        font-size: 20px;
        margin: 20px 0;
        line-height: 1.7;
    }

    .cover,
    .card {
        padding: 0;
        margin: 20px 0;
    }

    .project-card {
        margin: 30px 20px;
    }

    .project-section h1 {
        font-size: 30px;
        line-height: 1;
        margin: 20px 0;
    }

    .project-section .title {
        font-size: 20px;
        margin: 20px 0;
        line-height: 1.7;
    }

    .main-footer {
        justify-content: center;
    }

    .hide {
        display: none;
    }

    .inside-footer-one {
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }

    .inside-footer-one p {
        line-height: 1.7;
        margin-bottom: 30px;
    }

    .inside-footer-two {
        order: -1;
        justify-content: center;
        align-items: center;
    }

    .inside-footer-two img {
        width: 200px;
    }

    .upside {
        text-align: center;
    }
}



/* Media Queries For Tablet */


@media (min-width:701px) and (max-width:1000px) {
    .section {
        margin: 50px 0;
    }

    .main-part {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 35px;
    }

    .main-part img {
        width: 50%;
    }

    .information h2,
    .icons i {
        font-size: 40px;
        align-self: center;
    }

    .icons {
        align-self: center;
    }

    .text-para p {
        font-size: 22px;
        margin-bottom: 30px;
    }

    .card main {
        padding: 20px;

    }

    .card {
        display: flex;
        max-width: 100%;
        align-items: center;
        flex-grow: 1;
    }

    .project-card {
        margin: 30px 20px;
    }

    .project-flex-cover {
        margin-top: 50px;
    }

    .inside-footer-one,
    .inside-footer-two {
        width: 50%;
    }

    .inside-footer-one p {
        line-height: 1.7;
    }
}